/*
layout
*/

body{

}
.header {
    height:250px;
    width:960px;
    margin:auto;
    background-position: center;
    border-radius: 25px;
}

.name{
 visibility: hidden;
}

.name2{
margin-top:20px;
}

.textname{

}
.menubar {
    height:75px;
    width:960px;
    margin-left: 500px;
    margin-top: 10px;
    //margin:auto;
    //text-align: center; 
    z-index: 1;
}

.menu {
  padding-left: 13px;
  text-align: left;
  z-index: 1;
}

ul {
  z-index:1;
  text-align: center;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  z-index: 1;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
}
ul li ul {
  z-index: 1;
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  z-index: 1;
  display: block;
}
ul li ul li:hover { }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.content {
    z-index: -1;
    width:960px;
    height: 2000px;
    margin: 10px auto;
    margin-left: 160px;
    position: absolute;
    border-radius: 25px;
    
}

.content h1 {
    margin: 5%;
    font-size: 22pt;
   
}

.content p {
    margin: 5%;
}

.header p {
    margin-left: 10px;
    margin-top: 15px;
}

.slideShow {
    position: relative;
    z-index: 1;
}

